body{
    
}
header{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    height: 50px;
    
}.heading{
    margin-top: 3px;
}
.form{
    margin: 10px;
    border: 1px solid black;
    padding: 30px;
}
.form-input{
    margin-bottom: 30px;
}

.partition{
border-right: 1px solid black;
padding-right: 100px;
}
table{
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
  }

